nav >ul {
    display: flex;
    list-style: none;
    padding: 5px;
    margin-right: 10px;
}
nav li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li:hover {
    background-color: rgb(229, 217, 217);
}
nav li a{
    text-decoration: none;
    color: black;
}
/* nested menu style */
nav li .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav li:hover .dropdown {
    display: block;
}