
.header{
    text-align: center;
    height: 300px;
    /* background-image: url('shadhin.jpg'); */
    background-image: url('../image/bag.jpeg');
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-size: cover;
    /* background-size: contain; */
    /* background-size: 200px; */
    
}
body{
    background-image: url('../nature.jpg');
    background-size: cover;
}

.consetour{
    color: red;
    font-weight: bold;
    border: 2px solid rgb(255, 0, 0);
    /* display: block; */
    margin: 20px;
    display: inline-block;
}
h3{
    font-size: larger;
    text-decoration: underline;
    /* font-family: 'Courier New', Courier, monospace; */
}
.second{
/* display: none;} */
/* visibility: hidden; */
}
.blog{
    margin: 20px;
    border: 10px solid rgb(144, 8, 137);
    box-shadow: 10px 10px 5px rgb(11, 38, 245);
}
li{
    font-size: larger;
    font-weight: bold;
}
a{
    color: rgb(2, 2, 2);
    font-size: large;
}
img{
    width: 100%;
    height: auto;
}